# Ignore generated PDFs
*.pdf

# Ignore virtual environment folder
venv/
env/
.venv/

# Ignore IntelliJ IDEA project files
.idea/
*.iml
out/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Font
NotoSansCJKsc-Regular.otf
